
.notouch {
    pointer-events: none;
}
#overlay {
    height: 200px;
    width: 300px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-image: url('../images/win.jpg');
    background-size: contain;
    visibility: hidden;
}
#startOver {
    height: 50px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
}
.flash {
    background-image: url('../images/flash.jpg');
    background-size: cover;
}
.wonderwoman {
    background-image: url('../images/wonderwoman.jpg');
    background-size: cover;
    padding: 5px 5px 5px 5px;
}
.marvel {
    background-image: url('../images/marvel.jpg');
    background-size: cover;
}
.spiderman {
    background-image: url('../images/spiderman.jpg');
    background-size: cover;
}
.ironman {
    background-image: url('../images/ironman.jpg');
    background-size: cover;
}
.hulk {
    background-image: url('../images/hulk.jpg');
    background-size: cover;
}
.anon {
    background-image: url('../images/question.jpg');
    background-size: contain;
}
@media only screen and (max-width: 780px) {
body{
    height: 100%;
}
.mine {
    height: 100vh;
}
.card {
    height: 70px;
}
}